:root {
	--background-color: #000000;
	--white: #fff;
	--text-color: #525252;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: var(--white);
    background-color: var(--background-color);
}
main {
    margin: 3rem 0;
	width: 60%;
	margin-left: 20rem;	
}
nav {
	width: 60%;
	height: 50px;
	margin-top: 10px;
	display: table;
	margin-left: 20rem;
	padding-top: 10px;
}
#main {
	display: flex;
	justify-content: space-between;
	margin-left: 12px;
}
#main a {
	margin-left: 4px;
	text-decoration: none;
	font-size: 17px;
	color: var(--navbar-text-color);
	transition: 1s;
}
#main a:hover {
	color: #a8a29e;
}

#main img {
	width: 60px;
	border-radius: 10px;
	transition: 1s;
}
#main img:hover {
	transform: translateY(120);
}
.status {
	width: 400px;
	height: 70px;
	border-radius: 8px;
	display: flex;
}
.status .details h1 {
	font-size: 16px;
	color: var(--navbar-text-color);

}
.status img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}
.status .details {
	padding-left: 12px;
	padding-top: 5px;
}